extends ../_layouts/base
block content
	include ../_layouts/navigation
	section.getting-started
		.container
			.row
				.eight.columns.offset-by-two.code-setup
					p Clone the React Boilerplate repository if you haven't downloaded it.
					input(
					  type='text'
					  value="git clone https://github.com/mxstbr/react-boilerplate.git"
					  onClick="this.select();"
					  readonly
					)
					p Delete the existing git repository by running 
					input(
					  type='text'
					  value="rm -rf .git"
					  onClick="this.select();"
					  readonly
					)
					p Initialize a new git repository with 
					input(
					  type='text'
					  value="git init"
					  onClick="this.select();"
					  readonly
					)
					input(
					  type='text'
					  value="git add"
					  onClick="this.select();"
					  readonly
					)
					input(
					  type='text'
					  value="git commit -m 'Initial commit'"
					  onClick="this.select();"
					  readonly
					)
					p Run npm install to install the dependencies.
					input(
					  type='text'
					  value="npm install"
					  onClick="this.select();"
					  readonly
					)
					p Run npm start to start the local web server.
					input(
					  type='text'
					  value="npm start"
					  onClick="this.select();"
					  readonly
					)
					p Go to http://localhost:3000 and you should see the app running!
	
	include ../_layouts/contribute
	include ../_layouts/footer